* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Lato,Arial, Helvetica, sans-serif;
}

nav {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    margin-top: 14px;
    padding-bottom: 7px;
    z-index: 1;
}

.logo {
    margin: 10px 0px 15px 0px;
    width: 150px;
    height: 45px;
}

.logo img {
    width: 100%;
}

.menu ul li {
    float: left;
    margin: 0px 25px 0px 9px;
}

.menu ul li a {
    font-size: 20px;
    color: rgb(1 79 128);
    font-family: Lato;
    font-weight: 400;
}

.menu ul li a:hover {
    text-decoration: underline;
    color: black;
}

.donate-btn {
    border-radius: 8px;
    padding: 5px 11px 7px 11px;
    position: absolute;
    background: transparent;
    color: white;
    right: -15%;
    border: 2px solid rgb(255 255 255);
}
.donate-btn li a{
    color: rgb(255, 255, 255);
}
.background {
    background: url(Img/f.png);
    background-blend-mode: darken;
    background-size: cover;
    display: flex;
    height: 100vh;
    position: relative;
    top: -90px;
    align-items: center;
}

.Paras {
    display: flex;
    justify-content: center;
    color: rgb(1 79 128);
    flex-direction: column;
    margin-left: 114px;
    height: 100%;
    margin-top: 61px;
   
}
.Paras h1 {
    font-family: lato;
    top: 80px;
    font-size: 40px;
}
.Paras p {
    margin-top: 10px;
    width: 58%;
    font-size: 30px;
    line-height: 40px;
    z-index: 1;
background: white;
}
.paras-btn button {
    background: #ffffff;
    padding: 8px 13px 10px 10px;
    border-radius: 3px;
    border: 1px solid #084368;
    font-size: 20px;
    color: #084368;
    cursor: pointer;
    margin-top: 36px;
}
.achievement{
    display: flex;
    justify-content: space-around;
    margin: -35px 0px 55px 0px;
}
.boxes{
    display: flex;
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    border-radius: 7px;
    padding: 20px;
    background: #024677;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgb(26 117 180) -1px -4px 0px inset;
    align-items: center;
    justify-content: space-evenly;
}
.depart{
    text-align: center;
}
.depart h2{
    font-size: 40px;
    margin-bottom: 14px;
}
.dep-box-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.dep-box{
    color: white;
    border-radius: 7px;
    box-shadow: #024677 -1px -1px 1px 1px;
    padding: 18px 15px 18px 15px;
    width: 24%;
    margin: 23px 55px 6px 0px;
    height: 340px;
    background: #ffffff;
    cursor: pointer;
}
.dep-box img{
    width: 100%;
    height: 91%;
    border-radius: 5px;
}
.dep-box p{
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 27px;
    top: 8px;
}
.dep-box3 p{
    font-size: 22px;
}
.gallery-container{
    text-align: center;
    margin-top: 60px;
}
.gallery-h1 h1{
    font-size: 40px;
    margin-bottom: 14px;
}
.gallery-img{
    text-align: center;
}
.gallery-img img{
    width: 30%;
    height: 48%;
    margin: 0px 23px 38px 0px;
    border-radius: 17px;
}
footer{
    display: flex;
    color: white;
    background: #084368;
}
.footer-paras{
    display: flex;
    width: 50%;
    margin: 0px 0px 10px 20px;
}
.connect{
    width: 73%;
}
.f-heading{
    line-height: 26px;
    font-size: 18px;
    margin: 9px 0px 9px 0px;
}
.bold{
    font-weight: bold;
    font-size: 19px;
    line-height: 35px;
}
.para-f{
    line-height: 26px;
    font-size: 18px;
}
.mail{
    line-height: 20px;
}
.links{
    width: 25%;
    margin-left: 70px;
}
.links ul li{
    margin: 0px 0px 15px 0px;
    font-size: 18px;
}
.links ul li a{
    color: white;
}
.second-sec{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer-form{
    width: 51%;
}
.footer-form form{
    display: flex;
    margin-top: 11px;
    width: 100%;
    flex-direction: column;
}
form p{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.footer-form form input{
    margin: 0px 0px 15px 0px;
    border-radius: 5px;
    padding: 5px 0px 5px 0px;
}
form button{
    width: 25%;
    padding: 8px 4px 8px 4px;
    border-radius: 6px;
    background: transparent;
    color: white;
    border: 2px solid white;
}
.icons{
    display: flex;
}
.icons p{
    font-size: 20px;
    font-weight: 600;
}
.icons ul{
    display: flex;
}
.icons ul li{
    margin: 0px 9px 0px 9px;
}
.icons img{
    width: 85%;
}
.copy{
    text-align: center;
    padding: 9px 0px 9px 0px;
    color: white;
    border-top: 2px solid white;
    font-weight: 500;
    background: #084368;
    font-size: 24px;
}