*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    color: black;
}
nav{
    display: flex;
    box-shadow: -2px -8px 16px 0px #8a6868;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
}
.logo{
    margin: 10px 0px 15px 0px;
    width: 150px;
    height: 45px;
}
.logo img{
    width: 100%;
}
.menu ul{
    /* list-style-type: none; */
}
.menu ul li{
    float: left;
    margin: 0px 9px 0px 9px;
}
.menu ul li a{
    /* text-decoration: none; */
    font-size: 18px;
    /* color: black; */
}
.menu ul li a:hover{
    text-decoration: underline;
}
.menu ul li a:active{
background-color:#3dadf3;
}
.donate-btn{
    background: #3dadf3;
    border-radius: 6px;
    padding: 9px;
}